# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gradle"
    directory: /android/
    schedule:
      interval: weekly
      day: sunday
    open-pull-requests-limit: 5
    labels:
      - "Dependency Update"
      - "Android"
    groups:
      # Request that all kotlin specific dependencies are grouped together
      kotlin:
        patterns:
          - "org.jetbrains.kotlin:kotlin-test-junit"
          - "org.jetbrains.kotlin:kotlin-reflect"
          - "org.jetbrains.kotlin:kotlin-stdlib"
          - "org.jetbrains.kotlin:kotlin-gradle-plugin"
          - "org.jetbrains.compose.compiler"
          - "com.google.dagger.hilt.android"
          - "com.google.devtools.ksp"
      # Request that all AGP dependent upgrades are grouped together
      agp:
        patterns:
          - "com.android.tools.build:gradle"
          - "com.android.tools.lint:lint"
          - "com.android.tools.lint:lint-api"
          - "com.android.tools.lint:lint-checks"
          - "com.android.tools.lint:lint-tests"
    cooldown:
      default-days: 5
      semver-major-days: 14
      semver-minor-days: 7
      semver-patch-days: 3

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: sunday
    labels:
      - "Dependency Update"
      - "Android"
    open-pull-requests-limit: 1