name: Update Dependency Graph for Gradle
on:
  push:
    branches:
      - main
  workflow_dispatch: 
jobs:
  dependency-graph:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        id: checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v4.2.1

      - name: Set up Java
        uses: actions/setup-java@4e7e684fbb6e33f88ecb2cf1e6b3797739cf499b # v5
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Submit dependencies
        id: submit
        uses: gradle/actions/dependency-submission@261794afacfbe7a93883fe9e989f80e083e3547f # v4.1.0
        with:
          build-root-directory: android

      - name: Log snapshot for user validation
        id: validate
        run: cat
          /home/runner/work/source-apps/source-apps/dependency-graph-reports/update_dependency_graph_for_gradle-dependency-graph.json
          | jq

    permissions:
      contents: write