name: Release to Maven Central

on:
  workflow_dispatch:
# Uncomment to enable automatic releases on pushes to the main branch.
#  push:
#      branches:
#        - main
#      paths:
#        - 'android/**'

jobs:
  version:
    name: Release
    if: github.repository == 'guardian/source-apps'
    permissions: { contents: write, pull-requests: write }
    uses: guardian/gha-gradle-library-release-workflow/.github/workflows/reusable-release.yml@5b87f1887c874490c8a04f6a7bb56a14294ebd0e
    with:
      SOURCE_DIR: 'android'
      MODULES: 'source'
      API_FILE: 'api/source-api.txt'
      VERSION_FILE: 'version.txt'
    secrets:
      SONATYPE_TOKEN: ${{ secrets.AUTOMATED_MAVEN_RELEASE_SONATYPE_TOKEN }}
      PGP_PRIVATE_KEY: ${{ secrets.AUTOMATED_MAVEN_RELEASE_PGP_SECRET }}
      GITHUB_APP_PRIVATE_KEY: ${{ secrets.AUTOMATED_MAVEN_GRADLE_RELEASE_GITHUB_APP_PRIVATE_KEY }}